.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
  }

  .cart-inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .cart-itesm{
    margin-right: 20px;
  }
  
  .cart-item {
    max-width: 700px;
    display: flex;
   
    align-items: center;

    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 30px;
    padding: 10px 30px;
  }
  
  .cart-item img {
    width: 200px;
  }
  
  .cart-item .description {
    width: 100%;
  }

  .cart-item .description .product-brand{
    font-size: 15px;
  }

  .count-handler{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .count-handler input {
    width: 40px;
    text-align: center;
    font-weight: bolder;
  }

  .count-handler-btn{
    cursor: pointer;
  }

  .count-handler-btn:hover{
    transition:0.5s;
    transform: scale(1.2);
  }

  .product-remove{
    cursor: pointer;

  }

  .product-remove:hover{
    color: red;
  }
  

  
  
  .checkout{
    margin-top: 50px;
    font-weight: 600;
  }

  .checkout div{
    display: flex;
    justify-content: space-between;
  }

   .checkout hr{
    margin-bottom: 20px;
   }

   .total-checkout{
    font-size: 23px;
   }


   .payments{
    display: flex;
    align-items: center;
   }

   .reso{
    flex-direction: column;
   }

   .reso p{
      font-size: 12px;
      font-weight: 300;
      margin: 2px 0;
   }

  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  

  .continue-btn:hover{
    transition: 0.5s ease-in-out;
    background-color: gray;
    box-shadow: 0 0 30px gray;
  }

  .pay-btn:hover{
    transition: 0.5s ease-in-out;
    background-color: green;
    box-shadow: 0 0 30px green;
  }



  @media(max-width:500px){
    .cart-item {
      flex-wrap: wrap;
      justify-content: center;
    }
  }